<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Magento_PreOrderTask::manager" title="PreOrder" module="Magento_PreOrderTask" sortOrder="10" resource="Magento_PreOrderTask::manager" action="order/index/index"/>
    </menu>
</config>